debug
debug.test
*.qtr
*.qlog
*.sqlog
*.txt
race.[0-9]*

fuzzing/*/*.zip
fuzzing/*/coverprofile
fuzzing/*/crashers
fuzzing/*/sonarprofile
fuzzing/*/suppressions
fuzzing/*/corpus/

**/testdata/fuzz/

gomock_reflect_*/

.idea/
*.iws
out/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
